@import "./normalize.css";
@import "./mui";
@import "./Vazirmatn-Variable-font-face.css";

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1e5cff;
}
