.paper {
  top: 85px !important;
  width: 240px;
  box-shadow: 0 0 !important;
  overflow: unset !important;
  transition: transform 0.3s !important;

  .nav {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px 20px;
      margin: 2px 0;
      border-radius: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: var(--primary-light);
      }

      &.active {
        color: var(--primary);
        border-right: 4px solid var(--primary);
        background-color: var(--primary-light);
      }

      > :first-child {
        display: flex;
        font-size: 22px;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    color: var(--primary);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 14px;
    border: 1px solid var(--primary);
    cursor: pointer;
  }
}
