.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 20px 40px;
  box-shadow: 0px 4px 6px -4px rgb(0 0 0 / 30%);
  z-index: 1201;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    display: flex;
    align-items: center;
  }

  .buttons {
    display: flex;
    align-items: center;

    > * {
      margin: 0 10px;
    }

    .switch {
      transform: rotate(90deg);
      position: relative;

      > :first-child {
        position: absolute;
        &[data-mode="dark"] {
          font-size: 14px;
          color: #ffed00;
          left: 13px;
          bottom: 7px;
        }
        &[data-mode="light"] {
          font-size: 12px;
          color: #505050;
          right: 12px;
          top: 12px;
          transform: rotate(250deg);
        }
      }

      :global {
        .MuiSwitch-root {
          height: 43px;
        }
        .MuiSwitch-track {
          color: rgba(0, 0, 0, 0.54);
          border-radius: 40px;
        }
        .MuiSwitch-switchBase {
          top: 7px;
          left: 6px;
          &.Mui-checked {
            left: 2px;
          }
        }
        .MuiSwitch-thumb {
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}
